@page "/home"
@using Thryft.Models
@using Thryft.Services
@inject UserService userService
@inject ProductService productService


<PageTitle>Home</PageTitle>

<MudContainer>

    <MudTextField T="string" Placeholder="Search Products..." Variant="Variant.Outlined" Margin="Margin.Dense" Clearable="true" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Outlined.Search" Immediate="true" />


    <MudGrid>

        @foreach (var product in products)
        {

            <MudItem xs="12" sm="6" md="4" lg="6">

                <MudCard>
                    <MudCardHeader Class="mud-theme-primary">
                        <MudText Typo="Typo.h6">@product.ProductName</MudText>
                        <MudSpacer/>
                        <MudChip Color="Color.Tertiary" T="string" Style="color: #000">@string.Concat("€" + @product.Price)</MudChip>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudGrid>
                            @* <MudItem xs="4" Class="text-center"><MudText Class="fw-bold">Category</MudText>@product.Category</MudItem>
                            <MudItem xs="4" Class="text-center"><MudText Class="fw-bold">Colour</MudText>@product.Colour</MudItem>
                            <MudItem xs="4" Class="text-center"><MudText Class="fw-bold">Size</MudText>@product.Size</MudItem> *@
                            <MudItem xs="4" Class="text-center"><MudText Class="fw-bold">@product.Category</MudText></MudItem>
                            @* <MudItem xs="4" Class="text-center"><MudText Class="fw-bold">@product.Colour</MudText></MudItem>
                            <MudItem xs="4" Class="text-center"><MudText Class="fw-bold">@product.Size</MudText></MudItem> *@
                        </MudGrid>
                    </MudCardContent>
                </MudCard>

            </MudItem>

        }

    </MudGrid>

    


    @* @if (users == null)
    {
        <p>Loading... Users</p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in users)
                {
                    <tr>
                        <td>@user.UserId</td>
                        <td>@user.Name</td>
                        <td>@user.Email</td>
                    </tr>
                }
            </tbody>
        </table>
    } *@
    

</MudContainer>


@code {
    private List<User> users;

    private List<Product> products;

    public int cartItemCount = 2;

    protected override async Task OnInitializedAsync()
    {
        products = await productService.GetProductsAsync();
    }

}