@page "/home"
@using Thryft.Models
@using Thryft.Services
@inject UserService userService


<PageTitle>Home</PageTitle>

<MudContainer>

    <MudAppBar>
        @* <MudIconButton Color="Color.Tertiary" Icon="@Icons.Material.Filled.Menu" Href="">Filter</MudIconButton> *@
        <MudSpacer/> 
        <MudBadge Overlap="true" Color="Color.Secondary" Style="font-size:10px !important;" Content="@cartItemCount"><MudIconButton Href="" Color="Color.Tertiary" Icon="@Icons.Material.Filled.ShoppingCart"></MudIconButton></MudBadge>
        <MudMenu Color="Color.Tertiary" Class="ms-4" Icon="@Icons.Material.Filled.Person">
            <MudMenuItem></MudMenuItem>
            <MudMenuItem></MudMenuItem>
            <MudMenuItem></MudMenuItem>
        </MudMenu>
    </MudAppBar>

    <MudTextField T="string" Placeholder="Search Products..." Variant="Variant.Outlined" Margin="Margin.Dense" Clearable="true" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Outlined.Search" Immediate="true" />


    @if (users == null)
    {
        <p>Loading... Users</p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in users)
                {
                    <tr>
                        <td>@user.UserId</td>
                        <td>@user.Name</td>
                        <td>@user.Email</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    

</MudContainer>


@code {
    private List<User> users;
    public int cartItemCount = 2;

    protected override async Task OnInitializedAsync()
    {
        users = await userService.GetUsersAsync();
    }

}