@using Microsoft.AspNetCore.Components.Authorization
@using Thryft.Components.Pages
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(Layout.MainLayout)">
                <NotAuthorized>
                    <RedirectToLogin />
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(Layout.MainLayout)">
                <div role="alert" class="alert alert-warning">
                    <strong>Sorry</strong>, this page doesn't exist.
                </div>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>